<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title ? current_page.data.title + " - RailsVault" : "RailsVault - Get your Rails app off the ground, fast" %></title>

    <meta name="description" content="RailsVault is a leaderboard of the top open-source Ruby on Rails starter apps. Get your Rails app off the ground, fast." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="RailsVault is a leaderboard of top Ruby on Rails starter apps. Get your Rails app off the ground, fast.">

    <!-- Open Graph data -->
    <meta property="og:title" content="RailsVault" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.staticgen.com/" />
    <meta property="og:image" content="https://www.staticgen.com/images/staticgen.png" />
    <meta property="og:description" content="RailsVault is a leaderboard of the top open-source Ruby on Rails starter apps. Get your Rails app off the ground, fast." />

    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- RailsVault styles -->
    <%= stylesheet_link_tag "normalize", "syntax", "all" %>
  </head>

  <body>

    <div class="hero">
      <h1>
        <a href="/" class="logo">RailsVault</a>
        <em>Get your Rails app off the ground, fast</em>
      </h1>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="footer-container">
        <h3>RailsVault is hosted on <a href="https://www.netlify.com">Netlify</a>, the perfect way to deploy your static sites and apps.</h3>
      </div>
      <div class="postscript">
        &copy; Spacetime <%= Time.now.year %>
      </div>
    </div>

    <%= javascript_include_tag "all" %>

    <!-- Page specific scripts -->
    <%= yield_content :scripts %>
  </body>
</html>
